---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { bakeriesData } from "../data/data";
import { base, allBakeries } from "../data/airtable";

const data = await allBakeries();

console.log("data", data);

const title = "Piekarnie rzemieślnicze";
---

<Layout title={title}>
  <main class="container">
    <h1>{title}</h1>

    <div class="cards-list">
      {
        data.map(({ name, facebook, instagram, website }) => (
          <Card
            title={name}
            facebook={facebook}
            instagram={instagram}
            website={website}
          />
        ))
      }
    </div>
  </main>
</Layout>

<style>
  .cards-list {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 2.5rem;
  }

  @media screen and (max-width: 375px) {
    .cards-list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
</style>
